* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fcfcfc;
}
.main-container{
    background-color: #fff;
}
h1 {
    font-size: 2.6rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}
.logo a{
    color: #2978b5;
}

a {
    text-decoration: none;
}

i {
    color: #555;
    padding: 0.2rem 0;
    position: relative;
}
.txt-grey{
    color:#555;
}
/*-------------------------------------------Night toggle----------------------------------------*/
.toggle-night{
    background-color: #23283e;
}
.toggle-night label {
    display: block;
    width: 40px;
    height: 20px;
    border-radius: 20px;
    background-color: #999;
    transition: background-color 0.3s ease-in;
    position: relative;
}

.toggle-night label::before {
    content: "";
    display: block;
    background-color: #fff;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 2px;
    border-radius: 50%;
    left: 3px;
    transition: left 0.3s ease-in;
}

.toggle-night input:checked+label {
    background-color: dodgerblue;
}

.toggle-night input:checked+label::before {
    left: 23px;
    transition: left 0.3s ease-in;
}


.toggle-night input {
    display: none;
}

#toggle:checked~.main-container,#toggle:checked~.main-container #projects .project{
    background-color: #23283e;
}
#toggle:checked~.main-container .txt-grey{
    color: #bdbddd;
}
#toggle:checked ~.main-container .txt-title{
    color: #cdcdff;
}
#toggle:checked ~.main-container .primary{
    color: #90a0d9;
}
#toggle:checked ~ .main-container i{
    color: #bdbddd;
}
#toggle:checked ~ .main-container i:hover{
    color: #90a0d9;
}
#toggle:checked~.main-container .icon-wrapper>.layer::before{
    background-color: #90a0d9;
}
#toggle:checked~.main-container .icon-wrapper:hover>.layer::before{
    background-color: #90a0d9;
}
#toggle:checked~.main-container .temp::before{
    background-color: #90a0d9;
}
#toggle:checked ~ .main-container button{
    background-color: #232823;
    color: #90a0d9;
    border-color: #90a0d9;
}
#toggle:checked ~ .main-container button::before{
    background-color: #90a0d9;
}
#toggle:checked ~ .main-container button:hover{
    color: #232823;
}
#toggle:checked ~.main-container .project{
    box-shadow: rgba(0,0,0,0.16) 0px 10px 36px 0px,rgba(0,0,0,0.06) 0px 0px 0px 1px;
}
#toggle:checked~.main-container .skills-section li{
    box-shadow: rgba(0,0,0,0.16) 0px 10px 36px 0px,rgba(0,0,0,0.06) 0px 0px 0px 1px;

}
label#in-toggle{
    top:50px;
    left: 50%;
    cursor: pointer;
}

ul{
    list-style: none;
}
.menu{
    background-color: #fff;
}
.menu ul li{
    padding: 1rem;
    font-size: 1.5rem;
    color:#000;
}
.menu li a{
    color: #555;
    text-decoration: none;
    transition: color 0.4s ease;
}
.menu-wrap{
position: fixed;
top: 0;
right: 0.4rem;
z-index: 1;
}
.menu-wrap .toggler{
    position: absolute;
    top: 0;
    right: 0.4rem;
    z-index: 2;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}
.menu-wrap .hamburger{
    position: absolute;
    top: 0;
    right: 0.4rem;
    z-index: 1;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .hamburger>div{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}
.menu-wrap .hamburger>div::before, .menu-wrap .hamburger>div::after{
content: '';
position: absolute;
z-index: 1;
top: -10px;
width: 100%;
height: 2px;
background:inherit;
}
.menu-wrap .hamburger>div::after{
    top:10px;
}
.menu-wrap .toggler:checked + .hamburger>div{
    transform: rotate(135deg);
}
.menu-wrap .toggler:checked + .hamburger>div::before,
.menu-wrap .toggler:checked + .hamburger>div::after{
    top: 0;
    transform: rotate(90deg);
}
.menu-wrap .toggler:checked:hover + .hamburger>div{
    transform: rotate(225deg);
}
.menu-wrap .menu{
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-wrap .menu>div{
    border-radius: 50%;
    width: 200vw;
    height: 200vw;
    display: flex;
    flex: none;
    align-items: center;
    justify-content:center;
    transform: scale(0);
    transition: all 0.4s ease;
}
.menu-wrap .menu>div>div{
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}
.menu-wrap .toggler:checked ~ .menu{
    visibility: visible;
}
.menu-wrap .toggler:checked ~ .menu>div{
    transform: scale(1);
    transition-duration: 0.2s;
}
.menu-wrap .toggler:checked ~ .menu>div>div{
    opacity: 1;
    transition: opacity 0.4s ease;
}
.nav-desktop{
    display: none;
}


.icon-wrapper>.layer {
    position: relative;
    padding-bottom: 0.5rem;
}

.icon-wrapper>.layer::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #2978b5;
    width: 0;
    height: 5px;
    transition: width 0.4s ease-out;
}
.icon-wrapper:hover>.layer::before{
    width: 100%;
}

a:hover>i {
    color: #2978b5;
    transition: color 0.3s ease-out;
}

button,
i {
    cursor: pointer;
}

button {
    position: relative;
}

button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    background-color: #2978b5;
    height: 100%;
    transition: all 0.4s ease-out;
}

.btn-wrapper:hover button::before {
    z-index: -1;
    width: 100%;
}

.btn-wrapper:hover button {
    z-index: 2;
    color: #fff;
}

header {
    display: flex;
    justify-content: space-between;
    min-height: 5rem;
    align-items: center;
}

header,
main {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

main {
    margin-top: 2rem;
}

h1 span {
    color: #2978b5;
}

nav {
    display: flex;
    column-gap: 1rem;
}

.user-links button {
    font-size: 0.9rem;
    padding: 0.8rem 1.2rem;
    color: #2978b5;
    border: 2px solid #2978b5;
    background-color: #fff;
    font-weight: 700;
}

p.user-desc {
    color: #555;
    margin-bottom: 2rem;
}

.user-info>h1 {
    margin-bottom: 1rem;
}

.user-info>h2 {
    margin-bottom: 2rem;
}

.user-links {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.project-section {
    margin-top: 2rem;
}

.project ul {
    list-style-type: none;
    display: flex;
    column-gap: 1rem;
}

.project-section>h2 {
    margin-bottom: 2rem;
    text-align: center;
}

/* .project-title, .project-desc, .project-skills{
    margin-bottom: 3rem !important;
} */
.projects{
    display: block;
}
.project {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    min-height: 200px;
    margin-bottom: 2rem;
    align-items: center;
    box-shadow: 1px 1px 15px 2px #ccc, -1px -1px 15px 2px #ddd;
    padding: 2rem;
    cursor: pointer;
    color: #555;
}

.project-links {
    display: flex;
    column-gap: 1rem;
}

.project>p {
    text-align: center;
}

.project>h3,
.project>p,
.project>ul {
    margin-bottom: 1rem;
}

ul li>small {
    font-weight: 500;
}

.project-section {
    margin-bottom: 3rem;
}

.project{
    transform: translateY(0);
    transition:transform 0.4s ease-out;
}
.project:hover{
    transform: translateY(-5px);
}
.skills-container {
    text-align: center;
}

.skills-list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1rem;
    justify-content: center;
    max-width: 450px;
    width: 95%;
    margin: auto;
}

.skills-list li {
    width: 30%;
    padding: 0.8rem 1.4rem;
    box-shadow: 0px 5px 5px 2px #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(0);
    transition:transform 0.2s ease-out;
    cursor: pointer;
    color: #555;
}
.skills-list li:hover{
transform: translateY(-5px);
}
.skills-container>h2 {
    margin-bottom: 2rem;
}

.skills-section {
    margin-bottom: 3rem;
}

.contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 3rem;
}

.contact-section>h2 {
    margin-bottom: 2rem;
}

.contact-section button {
    font-size: 0.9rem;
    padding: 0.8rem 1.2rem;
    color: #2978b5;
    border: 2px solid #2978b5;
    background-color: #fff;
    font-weight: 700;
}

footer a {
    color: #2978b5;
}

footer {
    display: flex;
    justify-content: center;
    padding-bottom: 2rem;
}
/* .text-wrapper>.layer>a{
    position: relative;
} */
.temp{
position: relative;
}
.temp::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    background-color: #2978b5;
    height: 3px;
    transition: width 0.4s ease-out;
}
.text-wrapper>.layer:hover .temp::before{
    width: 100%;
}


@media(min-width:470px){
    .projects{
        display: grid;
        column-gap: 1rem;
        grid-template-columns: repeat( auto-fit, minmax(270px, 1fr) );
    }
}
@media(min-width:560px){
    .user-info{
        text-align: center;
        width: 60%;
        margin: auto;
    }
    .user-links{
        justify-content: center;
    }
    .user-desc{
        text-align: left;
    }
    .nav-desktop{
        display: block;
    }
    .nav-desktop ul{
        display: flex;
        column-gap: 1rem;
    }
    .nav-desktop ul li a{
        color: #555;
    }
    .menu-wrap{
        display: none;
    }
}